.avatar-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  ion-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    border: 3px solid #004c4e;
  }

  input[type="file"] {
    display: none;
  }
}
ion-toolbar{
    --background:rgb(0 76 78 / 85%);
}