<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jobs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ job?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editJob()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="job">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="details-card">
            <ion-card-header>
              <ion-card-title>{{ job.title }}</ion-card-title>
              <ion-card-subtitle>{{ job.client.name }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card class="details-card">
            <ion-card-header>
              <ion-card-title>Job Details</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong><ion-icon name="document-text-outline"></ion-icon> Description:</strong> {{ job.description }}</p>
              <p><strong><ion-icon name="cash-outline"></ion-icon> Pay Rate:</strong> GHS{{ job.payRate }}/day</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="details-card">
            <ion-card-header>
              <ion-card-title>Dates</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong><ion-icon name="calendar-outline"></ion-icon> Start Date:</strong> {{ job.startDate | date:'short' }}</p>
              <p><strong><ion-icon name="calendar-outline"></ion-icon> End Date:</strong> {{ job.endDate | date:'short' }}</p>
              <p *ngIf="job.checkinTime"><strong><ion-icon name="time-outline"></ion-icon> Check-in Time:</strong> {{ formatCheckinTime(job.checkinTime) }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card class="details-card">
            <ion-card-header class="attachments-header">
              <ion-card-title>Attachments</ion-card-title>
              <ion-button fill="clear" (click)="fileInput.click()">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
              <input type="file" multiple (change)="addAttachments($event)" #fileInput style="display: none;" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngIf="job.attachments.length > 0; else noAttachments">
                <ion-item *ngFor="let attachment of job.attachments">
                  <ion-icon *ngIf="extensionGot!='xlsx'" [name]="getFileIcon(attachment.fileName)" slot="start"></ion-icon>
                  <img *ngIf="extensionGot=='xlsx'" src="../../../assets/xlsx.png" width="30" slot="start"/>
                  <ion-label>{{ attachment.fileName }}</ion-label>
                  <ion-buttons slot="end">
                    <ion-button (click)="presentEmailPopover($event, attachment)">
                      <ion-icon name="mail-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="deleteAttachment(attachment.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <ng-template #noAttachments>
                <p>No attachments for this job.</p>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
