<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/temps"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit' : 'Add' }} Temp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="saveTemp()">
    <ion-list>
       <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Experience In Years</ion-label>
        <ion-input formControlName="experience" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Base Pay Per Hour</ion-label>
        <ion-input formControlName="basePay" type="number"></ion-input>
        <input formControlName="status" hidden type="text" value="active">
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Skills (comma separated)</ion-label>
        <ion-input formControlName="skills" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="form.invalid">Save</ion-button>
  </form>
</ion-content>
