<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color:whitesmoke;">Temps</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTemp()">
        <ion-icon style="color: whitesmoke" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-card *ngFor="let temp of temps" class="temp-card" (click)="viewTemp(temp.id)">
      <ion-item lines="none">
        <ion-label>
          <h2>{{ temp.firstName }} {{ temp.lastName }}</h2>
          <p class="contact-info"><ion-icon name="call-outline"></ion-icon> {{ temp.phone }}</p>
          <p class="contact-info"><ion-icon name="mail-outline"></ion-icon> {{ temp.email }}</p>
          <p class="skills"><ion-icon name="build-outline"></ion-icon> <strong>Skills:</strong> {{ temp.skills.join(', ') }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
