<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="currentUser">
      <ion-header>
        <ion-toolbar>
          <ion-title style="color:whitesmoke;">Workerly</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [@collapse]="'expanded'" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  
  <!-- Notification Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showNotifications">
    <ion-fab-button (click)="toggleNotifications()">
      <ion-icon name="chatbox"></ion-icon>
      <ion-badge color="danger" *ngIf="unreadCount > 0">{{ unreadCount }}</ion-badge>
    </ion-fab-button>
  </ion-fab>
  
  <!-- Notification Panel -->
  <ion-modal [isOpen]="notificationsOpen" (didDismiss)="notificationsOpen = false">
    <ng-template>
      <app-notification></app-notification>
    </ng-template>
  </ion-modal>
</ion-app>
