ion-toolbar {
  --background: #004c4d;
}

ion-content{
    --background:#004c4d;
}

ion-list{
    --background:#ffffff;
    background:#ffffff;

    ion-item{
      --background:#ffffff;

      ion-label{
        color:#000;
        --color:#000;
      }
    }
}