<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Job Slider -->
    <div class="job-slider-container">
      <div class="job-slider" [style.transform]="'translateX(' + sliderOffset + 'px)'">
        <div class="job-card" *ngFor="let job of displayJobs">
          <div class="job-card-content">
            <div class="job-icon">
              <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <div class="job-details">
              <h4 class="job-title">{{ job.title }}</h4>
              <div class="job-pay">
                <ion-icon name="cash-outline"></ion-icon>
                <span>${{ job.payRate }}/hr</span>
              </div>
              <div class="job-status">
                <ion-icon name="time-outline"></ion-icon>
                <span>Available Now</span>
              </div>
            </div>
            <div class="job-action">
              <ion-icon name="arrow-forward-circle"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="lc-block text-center mb-4"></div>
        <div class="lc-block text-center">
          <ion-card>
            <div class="lc-block text-center">
              <h3 editable="inline" class="display-4 mb-3"><b>Workerly</b></h3>
            </div>
            <p class="text-center" style="font-size: 20px;">Welcome Back</p>
            
            <!-- Error Message -->
            <ion-item *ngIf="errorMessage" lines="none" color="danger">
              <ion-label>{{ errorMessage }}</ion-label>
            </ion-item>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Email</legend>
                  <ion-input formControlName="email" type="email"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Password</legend>
                  <ion-input formControlName="password" type="password"></ion-input>
                </fieldset>
              </ion-item>

              <ion-button type="submit" class="mt-2" [disabled]="isLoading || loginForm.invalid">
                <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
                {{ isLoading ? 'Logging in...' : 'Login' }}
              </ion-button>
              <p class="mt-1"><span>Don't have an account?</span> <span (click)="register()" style="color:orange;cursor: pointer;"> - Register</span></p>
            </form>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
