<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Job Slider -->
    <div class="job-slider-container">
      <div class="job-slider" [style.transform]="'translateX(' + sliderOffset + 'px)'">
        <div class="job-card" *ngFor="let job of displayJobs">
          <div class="job-card-content">
            <div class="job-icon">
              <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <div class="job-details">
              <h4 class="job-title">{{ job.title }}</h4>
              <div class="job-pay">
                <ion-icon name="cash-outline"></ion-icon>
                <span>${{ job.payRate }}/day</span>
              </div>
              <div class="job-status">
                <ion-icon name="time-outline"></ion-icon>
                <span>Available Now</span>
              </div>
            </div>
            <div class="job-action">
              <ion-icon name="arrow-forward-circle"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="container py-4">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="lc-block text-center mb-4">
       
      </div>

			<div class="lc-block text-center">
        <ion-card>
           <div class="lc-block text-center">
            <h3 editable="inline" class="display-4 mb-3"><b>Workerly</b></h3>
          </div>
          <p class="text-center" style="font-size: 20px;">Let's Set You Up</p>
          
          <!-- Error Message -->
          <ion-item *ngIf="errorMessage" lines="none" color="danger">
            <ion-label>{{ errorMessage }}</ion-label>
          </ion-item>
          
          	<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Job Title</legend>
                  <ion-input formControlName="title" type="text"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">First Name</legend>
                 <ion-input formControlName="firstName" type="text"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Last Name</legend>
                 <ion-input formControlName="lastName" type="text"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Phone</legend>
                 <ion-input formControlName="phone" type="tel"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Email</legend>
                  <ion-input formControlName="email"  type="email"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Password</legend>
                  <ion-input formControlName="password"  type="password"></ion-input>
                </fieldset>
              </ion-item>

              <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Experience In Years</legend>
                  <ion-input formControlName="experience" type="number"></ion-input>
                </fieldset>
              </ion-item>

               <!-- <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Base Pay Per Hour</legend>
                   <ion-input formControlName="basePay" type="number"></ion-input>
                   <input formControlName="status" hidden type="text" value="active">
                    <input formControlName="role" hidden type="text" value="temp">
                    <input formControlName="approvalStatus" hidden type="text" value="pending">
                </fieldset>
              </ion-item> -->

               <ion-item lines="none" class="mb-3">
                <fieldset class="input-item">
                  <legend style="color: rgb(0, 0, 0);">Skills(comma separated)</legend>
                  <ion-input formControlName="skills" type="text"></ion-input>
                </fieldset>
              </ion-item>

              <ion-button type="submit" class="mt-2" [disabled]="isLoading || registerForm.invalid">
                <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
                {{ isLoading ? 'Registering...' : 'Register' }}
              </ion-button>
              <p class="mt-1"><span>I have an account?</span> <span (click)="login()" style="color:orange;cursor: pointer;"> -  Login</span></p> 
            </form>
        </ion-card>
			
        
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>
  
</ion-content>
<!-- <ion-content [fullscreen]="true">
  
  <form [formGroup]="form" (ngSubmit)="saveTemp()">
    <ion-list>
       <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Experience In Years</ion-label>
        <ion-input formControlName="experience" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Base Pay Per Hour</ion-label>
        <ion-input formControlName="basePay" type="number"></ion-input>
        <input formControlName="status" hidden type="text" value="active">
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Skills (comma separated)</ion-label>
        <ion-input formControlName="skills" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="form.invalid">Save</ion-button>
  </form>
</ion-content> -->
