<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/temps"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:whitesmoke;">{{ temp?.firstName }} {{ temp?.lastName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editTemp()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="temp">
    <ion-card-header>
      <ion-card-title>{{ temp.firstName }} {{ temp.lastName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Phone:</strong> {{ temp.phone }}</p>
      <p><strong>Email:</strong> {{ temp.email }}</p>
      <p><strong>Skills:</strong> {{ temp.skills.join(', ') }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
